buscaCep/RemoteFiles/AtendeCliente_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:element ibmSchExtn:docRoot="true" name="VerificaSeTodosObjetosCancelados" type="tns:VerificaSeTodosObjetosCancelados"/>
  <xs:element ibmSchExtn:docRoot="true" name="VerificaSeTodosObjetosCanceladosResponse" type="tns:VerificaSeTodosObjetosCanceladosResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="atualizaPagamentoNaEntrega" type="tns:atualizaPagamentoNaEntrega"/>
  <xs:element ibmSchExtn:docRoot="true" name="atualizaPagamentoNaEntregaResponse" type="tns:atualizaPagamentoNaEntregaResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="atualizaRemessaAgrupada" type="tns:atualizaRemessaAgrupada"/>
  <xs:element ibmSchExtn:docRoot="true" name="atualizaRemessaAgrupadaResponse" type="tns:atualizaRemessaAgrupadaResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="bloquearObjeto" type="tns:bloquearObjeto"/>
  <xs:element ibmSchExtn:docRoot="true" name="bloquearObjetoResponse" type="tns:bloquearObjetoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaCliente" type="tns:buscaCliente"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaClienteResponse" type="tns:buscaClienteResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaContrato" type="tns:buscaContrato"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaContratoResponse" type="tns:buscaContratoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaPagamentoEntrega" type="tns:buscaPagamentoEntrega"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaPagamentoEntregaResponse" type="tns:buscaPagamentoEntregaResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicos" type="tns:buscaServicos"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosAdicionaisAtivos" type="tns:buscaServicosAdicionaisAtivos"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosAdicionaisAtivosResponse" type="tns:buscaServicosAdicionaisAtivosResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosResponse" type="tns:buscaServicosResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosValorDeclarado" type="tns:buscaServicosValorDeclarado"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosValorDeclaradoResponse" type="tns:buscaServicosValorDeclaradoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosXServicosAdicionais" type="tns:buscaServicosXServicosAdicionais"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaServicosXServicosAdicionaisResponse" type="tns:buscaServicosXServicosAdicionaisResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaTarifaVale" type="tns:buscaTarifaVale"/>
  <xs:element ibmSchExtn:docRoot="true" name="buscaTarifaValeResponse" type="tns:buscaTarifaValeResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="calculaTarifaServico" type="tns:calculaTarifaServico"/>
  <xs:element ibmSchExtn:docRoot="true" name="calculaTarifaServicoResponse" type="tns:calculaTarifaServicoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="cancelarObjeto" type="tns:cancelarObjeto"/>
  <xs:element ibmSchExtn:docRoot="true" name="cancelarObjetoResponse" type="tns:cancelarObjetoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="cancelarPedidoScol" type="tns:cancelarPedidoScol"/>
  <xs:element ibmSchExtn:docRoot="true" name="cancelarPedidoScolResponse" type="tns:cancelarPedidoScolResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="consultaCEP" type="tns:consultaCEP"/>
  <xs:element ibmSchExtn:docRoot="true" name="consultaCEPResponse" type="tns:consultaCEPResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="consultaSRO" type="tns:consultaSRO"/>
  <xs:element ibmSchExtn:docRoot="true" name="consultaSROResponse" type="tns:consultaSROResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="fechaPlp" type="tns:fechaPlp"/>
  <xs:element ibmSchExtn:docRoot="true" name="fechaPlpResponse" type="tns:fechaPlpResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="fechaPlpVariosServicos" type="tns:fechaPlpVariosServicos"/>
  <xs:element ibmSchExtn:docRoot="true" name="fechaPlpVariosServicosResponse" type="tns:fechaPlpVariosServicosResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="geraDigitoVerificadorEtiquetas" type="tns:geraDigitoVerificadorEtiquetas"/>
  <xs:element ibmSchExtn:docRoot="true" name="geraDigitoVerificadorEtiquetasResponse" type="tns:geraDigitoVerificadorEtiquetasResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="getStatusCartaoPostagem" type="tns:getStatusCartaoPostagem"/>
  <xs:element ibmSchExtn:docRoot="true" name="getStatusCartaoPostagemResponse" type="tns:getStatusCartaoPostagemResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="getStatusPLP" type="tns:getStatusPLP"/>
  <xs:element ibmSchExtn:docRoot="true" name="getStatusPLPResponse" type="tns:getStatusPLPResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="integrarUsuarioScol" type="tns:integrarUsuarioScol"/>
  <xs:element ibmSchExtn:docRoot="true" name="integrarUsuarioScolResponse" type="tns:integrarUsuarioScolResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="obterClienteAtualizacao" type="tns:obterClienteAtualizacao"/>
  <xs:element ibmSchExtn:docRoot="true" name="obterClienteAtualizacaoResponse" type="tns:obterClienteAtualizacaoResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="obterEmbalagemLRS" type="tns:obterEmbalagemLRS"/>
  <xs:element ibmSchExtn:docRoot="true" name="obterEmbalagemLRSResponse" type="tns:obterEmbalagemLRSResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaEtiquetas" type="tns:solicitaEtiquetas"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaEtiquetasResponse" type="tns:solicitaEtiquetasResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaPLP" type="tns:solicitaPLP"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaPLPResponse" type="tns:solicitaPLPResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaXmlPlp" type="tns:solicitaXmlPlp"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitaXmlPlpResponse" type="tns:solicitaXmlPlpResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitarPostagemScol" type="tns:solicitarPostagemScol"/>
  <xs:element ibmSchExtn:docRoot="true" name="solicitarPostagemScolResponse" type="tns:solicitarPostagemScolResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="validaEtiquetaPLP" type="tns:validaEtiquetaPLP"/>
  <xs:element ibmSchExtn:docRoot="true" name="validaEtiquetaPLPResponse" type="tns:validaEtiquetaPLPResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="validaPlp" type="tns:validaPlp"/>
  <xs:element ibmSchExtn:docRoot="true" name="validaPlpResponse" type="tns:validaPlpResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="validarPostagemReversa" type="tns:validarPostagemReversa"/>
  <xs:element ibmSchExtn:docRoot="true" name="validarPostagemReversaResponse" type="tns:validarPostagemReversaResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="validarPostagemSimultanea" type="tns:validarPostagemSimultanea"/>
  <xs:element ibmSchExtn:docRoot="true" name="validarPostagemSimultaneaResponse" type="tns:validarPostagemSimultaneaResponse"/>
  <xs:element ibmSchExtn:docRoot="true" name="verificaDisponibilidadeServico" type="tns:verificaDisponibilidadeServico"/>
  <xs:element ibmSchExtn:docRoot="true" name="verificaDisponibilidadeServicoResponse" type="tns:verificaDisponibilidadeServicoResponse"/>
  <xs:complexType name="buscaServicosAdicionaisAtivos">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosAdicionaisAtivosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:servicoAdicionalXML"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicoAdicionalXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="sigla" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fechaPlp">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
      <xs:element minOccurs="0" name="idPlpCliente" type="xs:long"/>
      <xs:element minOccurs="0" name="cartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="faixaEtiquetas" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fechaPlpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaSRO">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaObjetos" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoConsulta" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoResultado" type="xs:string"/>
      <xs:element minOccurs="0" name="usuarioSro" type="xs:string"/>
      <xs:element minOccurs="0" name="senhaSro" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaSROResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculaTarifaServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
      <xs:element minOccurs="0" name="codServico" type="xs:string"/>
      <xs:element minOccurs="0" name="cepOrigem" type="xs:string"/>
      <xs:element minOccurs="0" name="cepDestino" type="xs:string"/>
      <xs:element minOccurs="0" name="peso" type="xs:string"/>
      <xs:element minOccurs="0" name="codFormato" type="xs:int"/>
      <xs:element minOccurs="0" name="comprimento" type="xs:double"/>
      <xs:element minOccurs="0" name="altura" type="xs:double"/>
      <xs:element minOccurs="0" name="largura" type="xs:double"/>
      <xs:element minOccurs="0" name="diametro" type="xs:double"/>
      <xs:element minOccurs="0" name="codMaoPropria" type="xs:string"/>
      <xs:element minOccurs="0" name="valorDeclarado" type="xs:double"/>
      <xs:element minOccurs="0" name="codAvisoRecebimento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculaTarifaServicoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaPlp">
    <xs:sequence>
      <xs:element name="cliente" type="xs:long"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element name="diretoria" type="xs:long"/>
      <xs:element minOccurs="0" name="cartao" type="xs:string"/>
      <xs:element minOccurs="0" name="unidadePostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="servico" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="servicosAdicionais" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaPlpResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerificaSeTodosObjetosCancelados">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:objetoPostal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objetoPostal">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEtiqueta" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAtualizacaoCliente" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataBloqueioObjeto" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataCancelamentoEtiqueta" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataInclusao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="objetoPostalPK" type="tns:objetoPostalPK"/>
      <xs:element minOccurs="0" name="plpNu" type="xs:long"/>
      <xs:element minOccurs="0" name="preListaPostagem" type="tns:preListaPostagem"/>
      <xs:element minOccurs="0" name="statusBloqueio" type="xs:string"/>
      <xs:element minOccurs="0" name="statusEtiqueta" type="tns:statusObjetoPostal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objetoPostalPK">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoEtiqueta" type="xs:string"/>
      <xs:element name="plpNu" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preListaPostagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="cartaoPostagem" type="tns:cartaoPostagemERP"/>
      <xs:element minOccurs="0" name="dataAtualizacaoCliente" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataAtualizacaoSara" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataFechamento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataPostagem" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataPostagemSara" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="objetosPostais" nillable="true" type="tns:objetoPostal"/>
      <xs:element name="plpCliente" type="xs:long"/>
      <xs:element name="plpNu" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="plpXml" nillable="true" type="xs:unsignedShort"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="plpXmlRetorno" nillable="true" type="xs:unsignedShort"/>
      <xs:element minOccurs="0" name="status" type="tns:statusPlp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartaoPostagemERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoAdministrativo" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contratos" nillable="true" type="tns:contratoERP"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataVigenciaFim" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataVigenciaInicio" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="datajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="datajVigenciaFim" type="xs:int"/>
      <xs:element minOccurs="0" name="datajVigenciaInicio" type="xs:int"/>
      <xs:element minOccurs="0" name="descricaoStatusCartao" type="xs:string"/>
      <xs:element minOccurs="0" name="descricaoUnidadePostagemGenerica" type="xs:string"/>
      <xs:element minOccurs="0" name="horajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="tns:servicoERP"/>
      <xs:element minOccurs="0" name="statusCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="statusCodigo" type="xs:string"/>
      <xs:element minOccurs="0" name="unidadeGenerica" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unidadesPostagem" nillable="true" type="tns:unidadePostagemERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contratoERP">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cartoesPostagem" nillable="true" type="tns:cartaoPostagemERP"/>
      <xs:element minOccurs="0" name="cliente" type="tns:clienteERP"/>
      <xs:element name="codigoCliente" type="xs:long"/>
      <xs:element minOccurs="0" name="codigoDiretoria" type="xs:string"/>
      <xs:element minOccurs="0" name="contratoPK" type="tns:contratoERPPK"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataAtualizacaoDDMMYYYY" type="xs:string"/>
      <xs:element minOccurs="0" name="dataVigenciaFim" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataVigenciaFimDDMMYYYY" type="xs:string"/>
      <xs:element minOccurs="0" name="dataVigenciaInicio" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataVigenciaInicioDDMMYYYY" type="xs:string"/>
      <xs:element minOccurs="0" name="datajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="datajVigenciaFim" type="xs:int"/>
      <xs:element minOccurs="0" name="datajVigenciaInicio" type="xs:int"/>
      <xs:element minOccurs="0" name="descricaoDiretoriaRegional" type="xs:string"/>
      <xs:element minOccurs="0" name="descricaoStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="diretoriaRegional" type="tns:unidadePostagemERP"/>
      <xs:element minOccurs="0" name="horajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="statusCodigo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="cnpj" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contratos" nillable="true" type="tns:contratoERP"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="datajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="descricaoStatusCliente" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="gerenteConta" nillable="true" type="tns:gerenteConta"/>
      <xs:element minOccurs="0" name="horajAtualizacao" type="xs:long"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="inscricaoEstadual" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="statusCodigo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerenteConta">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="clientesVisiveis" nillable="true" type="tns:clienteERP"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataInclusao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataSenha" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="matricula" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:statusGerente"/>
      <xs:element minOccurs="0" name="tipoGerente" type="tns:tipoGerente"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="usuariosInstalacao" nillable="true" type="tns:usuarioInstalacao"/>
      <xs:element minOccurs="0" name="validade" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioInstalacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataInclusao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataSenha" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="gerenteMaster" type="tns:gerenteConta"/>
      <xs:element minOccurs="0" name="hashSenha" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="login" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parametros" nillable="true" type="tns:parametroMaster"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:statusUsuario"/>
      <xs:element minOccurs="0" name="validade" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametroMaster">
    <xs:sequence>
      <xs:element name="prmCoParametro" type="xs:long"/>
      <xs:element minOccurs="0" name="prmTxParametro" type="xs:string"/>
      <xs:element minOccurs="0" name="prmTxValor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contratoERPPK">
    <xs:sequence>
      <xs:element name="diretoria" type="xs:long"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="unidadePostagemERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="diretoriaRegional" type="xs:string"/>
      <xs:element minOccurs="0" name="endereco" type="tns:enderecoERP"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enderecoERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" type="xs:string"/>
      <xs:element minOccurs="0" name="cep" type="xs:string"/>
      <xs:element minOccurs="0" name="cidade" type="xs:string"/>
      <xs:element minOccurs="0" name="complemento" type="xs:string"/>
      <xs:element minOccurs="0" name="complemento2" type="xs:string"/>
      <xs:element minOccurs="0" name="end" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="uf" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="unidadesPostagem" nillable="true" type="tns:unidadePostagemERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicoERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="datajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="horajAtualizacao" type="xs:int"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="servicoSigep" type="tns:servicoSigep"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="servicosAdicionais" nillable="true" type="tns:servicoAdicionalERP"/>
      <xs:element minOccurs="0" name="tipo1Codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo1Descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo2Codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo2Descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="vigencia" type="tns:vigenciaERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicoSigep">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaServico" type="tns:categoriaServico"/>
      <xs:element minOccurs="0" name="chancela" type="tns:chancelaMaster"/>
      <xs:element minOccurs="0" name="exigeDimensoes" type="xs:boolean"/>
      <xs:element minOccurs="0" name="exigeValorCobrar" type="xs:boolean"/>
      <xs:element name="imitm" type="xs:long"/>
      <xs:element minOccurs="0" name="pagamentoEntrega" type="xs:string"/>
      <xs:element minOccurs="0" name="remessaAgrupada" type="xs:string"/>
      <xs:element name="servico" type="xs:long"/>
      <xs:element minOccurs="0" name="servicoERP" type="tns:servicoERP"/>
      <xs:element minOccurs="0" name="ssiCoCodigoPostal" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chancelaMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="chancela" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="servicosSigep" nillable="true" type="tns:servicoSigep"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicoAdicionalERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="dataAtualizacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="datajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element minOccurs="0" name="horajAtualizacao" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="sigla" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vigenciaERP">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataFinal" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataInicial" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="datajFim" type="xs:int"/>
      <xs:element minOccurs="0" name="datajIni" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VerificaSeTodosObjetosCanceladosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarObjeto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPlp" type="xs:long"/>
      <xs:element minOccurs="0" name="numeroEtiqueta" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarObjetoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaPagamentoNaEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaPagamentoNaEntregaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obterClienteAtualizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="cnpjCliente" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obterClienteAtualizacaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificaDisponibilidadeServico">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:int"/>
      <xs:element minOccurs="0" name="numeroServico" type="xs:string"/>
      <xs:element minOccurs="0" name="cepOrigem" type="xs:string"/>
      <xs:element minOccurs="0" name="cepDestino" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificaDisponibilidadeServicoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fechaPlpVariosServicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
      <xs:element minOccurs="0" name="idPlpCliente" type="xs:long"/>
      <xs:element minOccurs="0" name="cartaoPostagem" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaEtiquetas" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fechaPlpVariosServicosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geraDigitoVerificadorEtiquetas">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="etiquetas" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="geraDigitoVerificadorEtiquetasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obterEmbalagemLRS">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="obterEmbalagemLRSResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:embalagemLRSMaster"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="embalagemLRSMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaEtiquetaPLP">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroEtiqueta" type="xs:string"/>
      <xs:element minOccurs="0" name="idPlp" type="xs:long"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validaEtiquetaPLPResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosValorDeclarado">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosValorDeclaradoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaCEP">
    <xs:sequence>
      <xs:element minOccurs="0" name="cep" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultaCEPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:enderecoERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarUsuarioScol">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:int"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="integrarUsuarioScolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaRemessaAgrupada">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="atualizaRemessaAgrupadaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaPLP">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPlpMaster" type="xs:long"/>
      <xs:element minOccurs="0" name="numEtiqueta" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaPLPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusCartaoPostagem">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusCartaoPostagemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:statusCartao"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaTarifaVale">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
      <xs:element minOccurs="0" name="codServico" type="xs:string"/>
      <xs:element minOccurs="0" name="cepOrigem" type="xs:string"/>
      <xs:element minOccurs="0" name="cepDestino" type="xs:string"/>
      <xs:element minOccurs="0" name="peso" type="xs:string"/>
      <xs:element minOccurs="0" name="codFormato" type="xs:int"/>
      <xs:element minOccurs="0" name="comprimento" type="xs:double"/>
      <xs:element minOccurs="0" name="altura" type="xs:double"/>
      <xs:element minOccurs="0" name="largura" type="xs:double"/>
      <xs:element minOccurs="0" name="valorDeclarado" type="xs:double"/>
      <xs:element minOccurs="0" name="servicoAdicional" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaTarifaValeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:valePostal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valePostal">
    <xs:sequence>
      <xs:element minOccurs="0" name="cidNoCidade" type="xs:string"/>
      <xs:element minOccurs="0" name="ctcCoAadministrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="ctcNuContrato" type="xs:long"/>
      <xs:element minOccurs="0" name="ctcNuContratoEct" type="xs:long"/>
      <xs:element minOccurs="0" name="cvpEdBairro" type="xs:string"/>
      <xs:element minOccurs="0" name="cvpEdCliente" type="xs:string"/>
      <xs:element minOccurs="0" name="cvpEdComplemento" type="xs:string"/>
      <xs:element minOccurs="0" name="cvpEdNumero" type="xs:string"/>
      <xs:element minOccurs="0" name="cvpNoCliente" type="xs:string"/>
      <xs:element minOccurs="0" name="cvpNuCep" type="xs:long"/>
      <xs:element minOccurs="0" name="descricaoErro" type="xs:string"/>
      <xs:element minOccurs="0" name="estSgEstado" type="xs:string"/>
      <xs:element name="monVarTarifaAdicional" type="xs:int"/>
      <xs:element name="monVarTarifaServico" type="xs:int"/>
      <xs:element name="monVarValorDescontos" type="xs:int"/>
      <xs:element name="monVarValorImposto" type="xs:int"/>
      <xs:element minOccurs="0" name="prsCoProdutoServico" type="xs:long"/>
      <xs:element minOccurs="0" name="pveNu" type="xs:long"/>
      <xs:element minOccurs="0" name="pveOrgNuAgencia" type="xs:long"/>
      <xs:element minOccurs="0" name="pveOrgNuAgenciaDes" type="xs:long"/>
      <xs:element minOccurs="0" name="pveOrgNuAgenciaOri" type="xs:long"/>
      <xs:element name="retornaCodErro" type="xs:int"/>
      <xs:element minOccurs="0" name="sitNoSituacao" type="xs:string"/>
      <xs:element minOccurs="0" name="tlgTxDescricao" type="xs:string"/>
      <xs:element minOccurs="0" name="vapDhTransacao" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="vapNuEtiquetaEncomenda" type="xs:string"/>
      <xs:element minOccurs="0" name="vapVrCobradoEct" type="xs:double"/>
      <xs:element minOccurs="0" name="vapVrNominal" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarPostagemSimultanea">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:int"/>
      <xs:element minOccurs="0" name="codigoServico" type="xs:int"/>
      <xs:element minOccurs="0" name="idCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="cepDestinatario" type="xs:string"/>
      <xs:element minOccurs="0" name="coleta" type="tns:coletaSimultanea"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coletaSimultanea">
    <xs:complexContent>
      <xs:extension base="tns:coleta">
        <xs:sequence>
          <xs:element minOccurs="0" name="obj" type="xs:string"/>
          <xs:element minOccurs="0" name="obs" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="coleta">
    <xs:sequence>
      <xs:element minOccurs="0" name="cklist" type="xs:string"/>
      <xs:element minOccurs="0" name="descricao" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="documento" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="id_cliente" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="produto" nillable="true" type="tns:produto"/>
      <xs:element minOccurs="0" name="remetente" type="tns:remetente"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="valor_declarado" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:string"/>
      <xs:element minOccurs="0" name="qtd" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remetente">
    <xs:complexContent>
      <xs:extension base="tns:pessoa">
        <xs:sequence>
          <xs:element minOccurs="0" name="celular" type="xs:string"/>
          <xs:element minOccurs="0" name="ddd_celular" type="xs:string"/>
          <xs:element minOccurs="0" name="identificacao" type="xs:string"/>
          <xs:element minOccurs="0" name="sms" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="bairro" type="xs:string"/>
      <xs:element minOccurs="0" name="cep" type="xs:string"/>
      <xs:element minOccurs="0" name="cidade" type="xs:string"/>
      <xs:element minOccurs="0" name="complemento" type="xs:string"/>
      <xs:element minOccurs="0" name="ddd" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="logradouro" type="xs:string"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element minOccurs="0" name="referencia" type="xs:string"/>
      <xs:element minOccurs="0" name="telefone" type="xs:string"/>
      <xs:element minOccurs="0" name="uf" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarPostagemSimultaneaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusPLP">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:objetoPostal"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStatusPLPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:statusPlp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosXServicosAdicionais">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosXServicosAdicionaisResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarPedidoScol">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="idPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarPedidoScolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:retornoCancelamento"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornoCancelamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_erro" type="xs:string"/>
      <xs:element minOccurs="0" name="codigo_administrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="data" type="xs:string"/>
      <xs:element minOccurs="0" name="hora" type="xs:string"/>
      <xs:element minOccurs="0" name="msg_erro" type="xs:string"/>
      <xs:element minOccurs="0" name="objeto_postal" type="tns:objetoSimplificado"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objetoSimplificado">
    <xs:sequence>
      <xs:element minOccurs="0" name="datahora_cancelamento" type="xs:string"/>
      <xs:element minOccurs="0" name="numero_pedido" type="xs:int"/>
      <xs:element minOccurs="0" name="status_pedido" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearObjeto">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroEtiqueta" type="xs:string"/>
      <xs:element minOccurs="0" name="idPlp" type="xs:long"/>
      <xs:element minOccurs="0" name="tipoBloqueio" type="tns:tipoBloqueio"/>
      <xs:element minOccurs="0" name="acao" type="tns:acao"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bloquearObjetoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaContrato">
    <xs:sequence>
      <xs:element minOccurs="0" name="numero" type="xs:string"/>
      <xs:element name="diretoria" type="xs:long"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaContratoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:contratoERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaEtiquetas">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDestinatario" type="xs:string"/>
      <xs:element minOccurs="0" name="identificador" type="xs:string"/>
      <xs:element minOccurs="0" name="idServico" type="xs:long"/>
      <xs:element minOccurs="0" name="qtdEtiquetas" type="xs:int"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaEtiquetasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaXmlPlp">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPlpMaster" type="xs:long"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitaXmlPlpResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarPostagemReversa">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:string"/>
      <xs:element minOccurs="0" name="codigoServico" type="xs:string"/>
      <xs:element minOccurs="0" name="cepDestinatario" type="xs:string"/>
      <xs:element minOccurs="0" name="idCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="coleta" type="tns:coletaReversa"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coletaReversa">
    <xs:complexContent>
      <xs:extension base="tns:coleta">
        <xs:sequence>
          <xs:element minOccurs="0" name="ag" type="xs:string"/>
          <xs:element minOccurs="0" name="ar" type="xs:int"/>
          <xs:element minOccurs="0" name="cartao" type="xs:string"/>
          <xs:element minOccurs="0" name="numero" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="obj_col" nillable="true" type="tns:objeto"/>
          <xs:element minOccurs="0" name="servico_adicional" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="objeto">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" type="xs:string"/>
      <xs:element minOccurs="0" name="entrega" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="item" type="xs:string"/>
      <xs:element minOccurs="0" name="num" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarPostagemReversaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="idContrato" type="xs:string"/>
      <xs:element minOccurs="0" name="idCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:clienteERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaPagamentoEntrega">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
      <xs:element minOccurs="0" name="contrato" type="xs:string"/>
      <xs:element minOccurs="0" name="dataInicio" type="xs:string"/>
      <xs:element minOccurs="0" name="dataFim" type="xs:string"/>
      <xs:element minOccurs="0" name="etiqueta" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaPagamentoEntregaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarPostagemScol">
    <xs:sequence>
      <xs:element minOccurs="0" name="codAdministrativo" type="xs:int"/>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarPostagemScolResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idContrato" type="xs:string"/>
      <xs:element minOccurs="0" name="idCartaoPostagem" type="xs:string"/>
      <xs:element minOccurs="0" name="usuario" type="xs:string"/>
      <xs:element minOccurs="0" name="senha" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscaServicosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:servicoERP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="statusGerente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ativo"/>
      <xs:enumeration value="Inativo"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoGerente">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GerenteConta"/>
      <xs:enumeration value="GerenteContaMaster"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ativo"/>
      <xs:enumeration value="Inativo"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="categoriaServico">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SEM_CATEGORIA"/>
      <xs:enumeration value="PAC"/>
      <xs:enumeration value="SEDEX"/>
      <xs:enumeration value="CARTA_REGISTRADA"/>
      <xs:enumeration value="SERVICO_COM_RESTRICAO"/>
      <xs:enumeration value="REVERSO"/>
      <xs:enumeration value="CARTA_CTR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusPlp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Aberta"/>
      <xs:enumeration value="Fechada"/>
      <xs:enumeration value="Postada"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusObjetoPostal">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EmBranco"/>
      <xs:enumeration value="Postado"/>
      <xs:enumeration value="Cancelado"/>
      <xs:enumeration value="Estorno"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="statusCartao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Desconhecido"/>
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Suspenso"/>
      <xs:enumeration value="Cancelado"/>
      <xs:enumeration value="Irregular"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoBloqueio">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FRAUDE_BLOQUEIO"/>
      <xs:enumeration value="EXTRAVIO_VAREJO_PRE_INDENIZADO"/>
      <xs:enumeration value="EXTRAVIO_VAREJO_POS_INDENIZADO"/>
      <xs:enumeration value="EXTRAVIO_CORPORATIVO"/>
      <xs:enumeration value="INTERNACIONAL_LDI"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="acao">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEVOLVIDO_AO_REMETENTE"/>
      <xs:enumeration value="ENCAMINHADO_PARA_REFUGO"/>
      <xs:enumeration value="REINTEGRADO_E_DEVOLVIDO_AO_REMETENTE"/>
      <xs:enumeration value="DESBLOQUEADO"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element ibmSchExtn:docRoot="true" name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element ibmSchExtn:docRoot="true" name="SigepClienteException" nillable="true">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xs:string"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="AutenticacaoException" nillable="true">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xs:string"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xs:element>
  <xs:element ibmSchExtn:docRoot="true" name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element ibmSchExtn:docRoot="true" name="ErroMontagemRelatorio" type="tns:ErroMontagemRelatorio"/>
  <xs:complexType name="ErroMontagemRelatorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>