buscaCep/RemoteFiles/AtendeCliente.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="AtendeClienteService" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="AtendeCliente_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="AtendeClienteServiceSoapBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <xsd:include schemaLocation="AtendeCliente_InlineSchema1.xsd"/>
    </xs:schema>
    </wsdl:types>
  <wsdl:message name="buscaServicosAdicionaisAtivos">
    <wsdl:part element="tns:buscaServicosAdicionaisAtivos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fechaPlp">
    <wsdl:part element="tns:fechaPlp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaSRO">
    <wsdl:part element="tns:consultaSRO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerificaSeTodosObjetosCancelados">
    <wsdl:part element="tns:VerificaSeTodosObjetosCancelados" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterClienteAtualizacaoResponse">
    <wsdl:part element="tns:obterClienteAtualizacaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaClienteResponse">
    <wsdl:part element="tns:buscaClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusCartaoPostagemResponse">
    <wsdl:part element="tns:getStatusCartaoPostagemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verificaDisponibilidadeServico">
    <wsdl:part element="tns:verificaDisponibilidadeServico" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaEtiquetasResponse">
    <wsdl:part element="tns:solicitaEtiquetasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AutenticacaoException">
    <wsdl:part element="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fechaPlpVariosServicos">
    <wsdl:part element="tns:fechaPlpVariosServicos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="geraDigitoVerificadorEtiquetas">
    <wsdl:part element="tns:geraDigitoVerificadorEtiquetas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterEmbalagemLRS">
    <wsdl:part element="tns:obterEmbalagemLRS" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bloquearObjetoResponse">
    <wsdl:part element="tns:bloquearObjetoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="geraDigitoVerificadorEtiquetasResponse">
    <wsdl:part element="tns:geraDigitoVerificadorEtiquetasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaXmlPlpResponse">
    <wsdl:part element="tns:solicitaXmlPlpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterEmbalagemLRSResponse">
    <wsdl:part element="tns:obterEmbalagemLRSResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SigepClienteException">
    <wsdl:part element="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosValorDeclarado">
    <wsdl:part element="tns:buscaServicosValorDeclarado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosValorDeclaradoResponse">
    <wsdl:part element="tns:buscaServicosValorDeclaradoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaCEP">
    <wsdl:part element="tns:consultaCEP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fechaPlpVariosServicosResponse">
    <wsdl:part element="tns:fechaPlpVariosServicosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusCartaoPostagem">
    <wsdl:part element="tns:getStatusCartaoPostagem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculaTarifaServicoResponse">
    <wsdl:part element="tns:calculaTarifaServicoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPedidoScolResponse">
    <wsdl:part element="tns:cancelarPedidoScolResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaRemessaAgrupadaResponse">
    <wsdl:part element="tns:atualizaRemessaAgrupadaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaTarifaVale">
    <wsdl:part element="tns:buscaTarifaVale" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPostagemSimultanea">
    <wsdl:part element="tns:validarPostagemSimultanea" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusPLP">
    <wsdl:part element="tns:getStatusPLP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarPedidoScol">
    <wsdl:part element="tns:cancelarPedidoScol" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaContratoResponse">
    <wsdl:part element="tns:buscaContratoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="bloquearObjeto">
    <wsdl:part element="tns:bloquearObjeto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaContrato">
    <wsdl:part element="tns:buscaContrato" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaEtiquetas">
    <wsdl:part element="tns:solicitaEtiquetas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaXmlPlp">
    <wsdl:part element="tns:solicitaXmlPlp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosAdicionaisAtivosResponse">
    <wsdl:part element="tns:buscaServicosAdicionaisAtivosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaCliente">
    <wsdl:part element="tns:buscaCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fechaPlpResponse">
    <wsdl:part element="tns:fechaPlpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaPagamentoEntrega">
    <wsdl:part element="tns:buscaPagamentoEntrega" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicos">
    <wsdl:part element="tns:buscaServicos" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusPLPResponse">
    <wsdl:part element="tns:getStatusPLPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculaTarifaServico">
    <wsdl:part element="tns:calculaTarifaServico" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaPlp">
    <wsdl:part element="tns:validaPlp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaSROResponse">
    <wsdl:part element="tns:consultaSROResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarObjeto">
    <wsdl:part element="tns:cancelarObjeto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaPagamentoNaEntrega">
    <wsdl:part element="tns:atualizaPagamentoNaEntrega" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterClienteAtualizacao">
    <wsdl:part element="tns:obterClienteAtualizacao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verificaDisponibilidadeServicoResponse">
    <wsdl:part element="tns:verificaDisponibilidadeServicoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaEtiquetaPLPResponse">
    <wsdl:part element="tns:validaEtiquetaPLPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="VerificaSeTodosObjetosCanceladosResponse">
    <wsdl:part element="tns:VerificaSeTodosObjetosCanceladosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaEtiquetaPLP">
    <wsdl:part element="tns:validaEtiquetaPLP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarObjetoResponse">
    <wsdl:part element="tns:cancelarObjetoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaPagamentoNaEntregaResponse">
    <wsdl:part element="tns:atualizaPagamentoNaEntregaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosXServicosAdicionaisResponse">
    <wsdl:part element="tns:buscaServicosXServicosAdicionaisResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarPostagemScolResponse">
    <wsdl:part element="tns:solicitarPostagemScolResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaTarifaValeResponse">
    <wsdl:part element="tns:buscaTarifaValeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaPLPResponse">
    <wsdl:part element="tns:solicitaPLPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPostagemSimultaneaResponse">
    <wsdl:part element="tns:validarPostagemSimultaneaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaPagamentoEntregaResponse">
    <wsdl:part element="tns:buscaPagamentoEntregaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPostagemReversaResponse">
    <wsdl:part element="tns:validarPostagemReversaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="integrarUsuarioScol">
    <wsdl:part element="tns:integrarUsuarioScol" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="integrarUsuarioScolResponse">
    <wsdl:part element="tns:integrarUsuarioScolResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultaCEPResponse">
    <wsdl:part element="tns:consultaCEPResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="atualizaRemessaAgrupada">
    <wsdl:part element="tns:atualizaRemessaAgrupada" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validaPlpResponse">
    <wsdl:part element="tns:validaPlpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitaPLP">
    <wsdl:part element="tns:solicitaPLP" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErroMontagemRelatorio">
    <wsdl:part element="tns:ErroMontagemRelatorio" name="ErroMontagemRelatorio">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosXServicosAdicionais">
    <wsdl:part element="tns:buscaServicosXServicosAdicionais" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buscaServicosResponse">
    <wsdl:part element="tns:buscaServicosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validarPostagemReversa">
    <wsdl:part element="tns:validarPostagemReversa" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="solicitarPostagemScol">
    <wsdl:part element="tns:solicitarPostagemScol" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AtendeCliente">
    <wsdl:operation name="buscaServicosAdicionaisAtivos">
      <wsdl:input message="tns:buscaServicosAdicionaisAtivos" name="buscaServicosAdicionaisAtivos">
    </wsdl:input>
      <wsdl:output message="tns:buscaServicosAdicionaisAtivosResponse" name="buscaServicosAdicionaisAtivosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fechaPlp">
      <wsdl:input message="tns:fechaPlp" name="fechaPlp">
    </wsdl:input>
      <wsdl:output message="tns:fechaPlpResponse" name="fechaPlpResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaSRO">
      <wsdl:input message="tns:consultaSRO" name="consultaSRO">
    </wsdl:input>
      <wsdl:output message="tns:consultaSROResponse" name="consultaSROResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculaTarifaServico">
      <wsdl:input message="tns:calculaTarifaServico" name="calculaTarifaServico">
    </wsdl:input>
      <wsdl:output message="tns:calculaTarifaServicoResponse" name="calculaTarifaServicoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaPlp">
      <wsdl:input message="tns:validaPlp" name="validaPlp">
    </wsdl:input>
      <wsdl:output message="tns:validaPlpResponse" name="validaPlpResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerificaSeTodosObjetosCancelados">
      <wsdl:input message="tns:VerificaSeTodosObjetosCancelados" name="VerificaSeTodosObjetosCancelados">
    </wsdl:input>
      <wsdl:output message="tns:VerificaSeTodosObjetosCanceladosResponse" name="VerificaSeTodosObjetosCanceladosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarObjeto">
      <wsdl:input message="tns:cancelarObjeto" name="cancelarObjeto">
    </wsdl:input>
      <wsdl:output message="tns:cancelarObjetoResponse" name="cancelarObjetoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaPagamentoNaEntrega">
      <wsdl:input message="tns:atualizaPagamentoNaEntrega" name="atualizaPagamentoNaEntrega">
    </wsdl:input>
      <wsdl:output message="tns:atualizaPagamentoNaEntregaResponse" name="atualizaPagamentoNaEntregaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterClienteAtualizacao">
      <wsdl:input message="tns:obterClienteAtualizacao" name="obterClienteAtualizacao">
    </wsdl:input>
      <wsdl:output message="tns:obterClienteAtualizacaoResponse" name="obterClienteAtualizacaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verificaDisponibilidadeServico">
      <wsdl:input message="tns:verificaDisponibilidadeServico" name="verificaDisponibilidadeServico">
    </wsdl:input>
      <wsdl:output message="tns:verificaDisponibilidadeServicoResponse" name="verificaDisponibilidadeServicoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fechaPlpVariosServicos">
      <wsdl:input message="tns:fechaPlpVariosServicos" name="fechaPlpVariosServicos">
    </wsdl:input>
      <wsdl:output message="tns:fechaPlpVariosServicosResponse" name="fechaPlpVariosServicosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="geraDigitoVerificadorEtiquetas">
      <wsdl:input message="tns:geraDigitoVerificadorEtiquetas" name="geraDigitoVerificadorEtiquetas">
    </wsdl:input>
      <wsdl:output message="tns:geraDigitoVerificadorEtiquetasResponse" name="geraDigitoVerificadorEtiquetasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterEmbalagemLRS">
      <wsdl:input message="tns:obterEmbalagemLRS" name="obterEmbalagemLRS">
    </wsdl:input>
      <wsdl:output message="tns:obterEmbalagemLRSResponse" name="obterEmbalagemLRSResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaEtiquetaPLP">
      <wsdl:input message="tns:validaEtiquetaPLP" name="validaEtiquetaPLP">
    </wsdl:input>
      <wsdl:output message="tns:validaEtiquetaPLPResponse" name="validaEtiquetaPLPResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicosValorDeclarado">
      <wsdl:input message="tns:buscaServicosValorDeclarado" name="buscaServicosValorDeclarado">
    </wsdl:input>
      <wsdl:output message="tns:buscaServicosValorDeclaradoResponse" name="buscaServicosValorDeclaradoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaCEP">
      <wsdl:input message="tns:consultaCEP" name="consultaCEP">
    </wsdl:input>
      <wsdl:output message="tns:consultaCEPResponse" name="consultaCEPResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="integrarUsuarioScol">
      <wsdl:input message="tns:integrarUsuarioScol" name="integrarUsuarioScol">
    </wsdl:input>
      <wsdl:output message="tns:integrarUsuarioScolResponse" name="integrarUsuarioScolResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaRemessaAgrupada">
      <wsdl:input message="tns:atualizaRemessaAgrupada" name="atualizaRemessaAgrupada">
    </wsdl:input>
      <wsdl:output message="tns:atualizaRemessaAgrupadaResponse" name="atualizaRemessaAgrupadaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaPLP">
      <wsdl:input message="tns:solicitaPLP" name="solicitaPLP">
    </wsdl:input>
      <wsdl:output message="tns:solicitaPLPResponse" name="solicitaPLPResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusCartaoPostagem">
      <wsdl:input message="tns:getStatusCartaoPostagem" name="getStatusCartaoPostagem">
    </wsdl:input>
      <wsdl:output message="tns:getStatusCartaoPostagemResponse" name="getStatusCartaoPostagemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaTarifaVale">
      <wsdl:input message="tns:buscaTarifaVale" name="buscaTarifaVale">
    </wsdl:input>
      <wsdl:output message="tns:buscaTarifaValeResponse" name="buscaTarifaValeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarPostagemSimultanea">
      <wsdl:input message="tns:validarPostagemSimultanea" name="validarPostagemSimultanea">
    </wsdl:input>
      <wsdl:output message="tns:validarPostagemSimultaneaResponse" name="validarPostagemSimultaneaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusPLP">
      <wsdl:input message="tns:getStatusPLP" name="getStatusPLP">
    </wsdl:input>
      <wsdl:output message="tns:getStatusPLPResponse" name="getStatusPLPResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicosXServicosAdicionais">
      <wsdl:input message="tns:buscaServicosXServicosAdicionais" name="buscaServicosXServicosAdicionais">
    </wsdl:input>
      <wsdl:output message="tns:buscaServicosXServicosAdicionaisResponse" name="buscaServicosXServicosAdicionaisResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarPedidoScol">
      <wsdl:input message="tns:cancelarPedidoScol" name="cancelarPedidoScol">
    </wsdl:input>
      <wsdl:output message="tns:cancelarPedidoScolResponse" name="cancelarPedidoScolResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bloquearObjeto">
      <wsdl:input message="tns:bloquearObjeto" name="bloquearObjeto">
    </wsdl:input>
      <wsdl:output message="tns:bloquearObjetoResponse" name="bloquearObjetoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaContrato">
      <wsdl:input message="tns:buscaContrato" name="buscaContrato">
    </wsdl:input>
      <wsdl:output message="tns:buscaContratoResponse" name="buscaContratoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaEtiquetas">
      <wsdl:input message="tns:solicitaEtiquetas" name="solicitaEtiquetas">
    </wsdl:input>
      <wsdl:output message="tns:solicitaEtiquetasResponse" name="solicitaEtiquetasResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaXmlPlp">
      <wsdl:input message="tns:solicitaXmlPlp" name="solicitaXmlPlp">
    </wsdl:input>
      <wsdl:output message="tns:solicitaXmlPlpResponse" name="solicitaXmlPlpResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarPostagemReversa">
      <wsdl:input message="tns:validarPostagemReversa" name="validarPostagemReversa">
    </wsdl:input>
      <wsdl:output message="tns:validarPostagemReversaResponse" name="validarPostagemReversaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaCliente">
      <wsdl:input message="tns:buscaCliente" name="buscaCliente">
    </wsdl:input>
      <wsdl:output message="tns:buscaClienteResponse" name="buscaClienteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaPagamentoEntrega">
      <wsdl:input message="tns:buscaPagamentoEntrega" name="buscaPagamentoEntrega">
    </wsdl:input>
      <wsdl:output message="tns:buscaPagamentoEntregaResponse" name="buscaPagamentoEntregaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:ErroMontagemRelatorio" name="ErroMontagemRelatorio">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitarPostagemScol">
      <wsdl:input message="tns:solicitarPostagemScol" name="solicitarPostagemScol">
    </wsdl:input>
      <wsdl:output message="tns:solicitarPostagemScolResponse" name="solicitarPostagemScolResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicos">
      <wsdl:input message="tns:buscaServicos" name="buscaServicos">
    </wsdl:input>
      <wsdl:output message="tns:buscaServicosResponse" name="buscaServicosResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AutenticacaoException" name="AutenticacaoException">
    </wsdl:fault>
      <wsdl:fault message="tns:SigepClienteException" name="SigepClienteException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AtendeClienteServiceSoapBinding" type="tns:AtendeCliente">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buscaServicosAdicionaisAtivos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaServicosAdicionaisAtivos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaServicosAdicionaisAtivosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fechaPlp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fechaPlp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fechaPlpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaSRO">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaSRO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaSROResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaPlp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validaPlp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validaPlpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="calculaTarifaServico">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="calculaTarifaServico">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculaTarifaServicoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerificaSeTodosObjetosCancelados">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="VerificaSeTodosObjetosCancelados">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="VerificaSeTodosObjetosCanceladosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarObjeto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarObjeto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarObjetoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaPagamentoNaEntrega">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="atualizaPagamentoNaEntrega">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="atualizaPagamentoNaEntregaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterClienteAtualizacao">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obterClienteAtualizacao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obterClienteAtualizacaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verificaDisponibilidadeServico">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="verificaDisponibilidadeServico">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verificaDisponibilidadeServicoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fechaPlpVariosServicos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="fechaPlpVariosServicos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="fechaPlpVariosServicosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="geraDigitoVerificadorEtiquetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="geraDigitoVerificadorEtiquetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="geraDigitoVerificadorEtiquetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterEmbalagemLRS">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obterEmbalagemLRS">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obterEmbalagemLRSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validaEtiquetaPLP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validaEtiquetaPLP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validaEtiquetaPLPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicosValorDeclarado">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaServicosValorDeclarado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaServicosValorDeclaradoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="consultaCEP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultaCEP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultaCEPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="integrarUsuarioScol">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="integrarUsuarioScol">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="integrarUsuarioScolResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="atualizaRemessaAgrupada">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="atualizaRemessaAgrupada">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="atualizaRemessaAgrupadaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaPLP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="solicitaPLP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitaPLPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusCartaoPostagem">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatusCartaoPostagem">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusCartaoPostagemResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaTarifaVale">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaTarifaVale">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaTarifaValeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarPostagemSimultanea">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validarPostagemSimultanea">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validarPostagemSimultaneaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStatusPLP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatusPLP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusPLPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicosXServicosAdicionais">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaServicosXServicosAdicionais">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaServicosXServicosAdicionaisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarPedidoScol">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarPedidoScol">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarPedidoScolResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bloquearObjeto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="bloquearObjeto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="bloquearObjetoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaContrato">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaContrato">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaContratoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaEtiquetas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="solicitaEtiquetas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitaEtiquetasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitaXmlPlp">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="solicitaXmlPlp">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitaXmlPlpResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validarPostagemReversa">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validarPostagemReversa">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validarPostagemReversaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaPagamentoEntrega">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaPagamentoEntrega">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaPagamentoEntregaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ErroMontagemRelatorio">
        <soap:fault name="ErroMontagemRelatorio" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="solicitarPostagemScol">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="solicitarPostagemScol">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitarPostagemScolResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="buscaServicos">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buscaServicos">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buscaServicosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AutenticacaoException">
        <soap:fault name="AutenticacaoException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SigepClienteException">
        <soap:fault name="SigepClienteException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AtendeClienteService">
    <wsdl:port binding="tns:AtendeClienteServiceSoapBinding" name="AtendeClientePort">
      <soap:address location="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>