undbr_commons_canonico_v1/CotacaoInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http:///www.unimed.com.br/Legado/CotacaoInput"
	xmlns:this="http:///www.unimed.com.br/Legado/CotacaoInput">

	<xsd:complexType name="CotacaoType">
		<xsd:sequence>
			<xsd:element name="qtdeDias" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Cotacao" type="this:CotacaoType"></xsd:element>
</xsd:schema>